body {
  background-image: url(image/background.jpg); /* The image used for background*/
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: "Syne", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  text-align: center;
  width: 100%;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  min-width: 50% !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.w3-yellow,
.w3-hover-purple:hover,
.w3-text-black {
  color: white !important;
  background-color: rgba(255, 255, 179, 0.3) !important;
}
.logo{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.w3-margin{
  width: 190px;
  height: 200px;
}